@import 'variables';
@import 'utilities';

html, body {
  height: 100%;
  margin: 0;
}

.center-me {
  margin: 0 auto;
  widyh: 50%;
}

.test {
  margin: auto;
  width: 50%;
  border: 3px solid #fff;
}

.game-container {
  margin: 0 auto;
  width: 50%;
  border: 3px solid #444444;
  border-radius: 50px;
  //background-color: #3C3744;
  background-image: url("https://image.freepik.com/free-vector/carbon-fiber-background_23-2147491257.jpg");
  color: #ffffff;
}
.controls {
  padding: 20px;
}
.circle-button {
    display:block;
    cursor: pointer;
    width:50px;
    height:50px;
    line-height:50px;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #464646;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;
}
.circle-button:hover {
    background: #262626;
}

// toggle switch for strict mode
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  // background-color: #2196F3;
  background-color: #f50000;
}

// input:focus + .slider {
//   box-shadow: 0 0 1px #2196F3;
// }

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border: 2px solid #f5f5f5;
  border-radius: 34px;
}

.slider.round:before {
    border: 2px solid #f5f5f5;
  border-radius: 50%;
}

.redLight {
  background-color: $color-light-red;
  border-radius: 0px 50px 0px 50px;
  box-shadow: 0 5px #555;
  padding: 20px;
  height: 120px;
}
.blueLight {
  background-color: $color-light-blue;
  border-radius: 50px 0px 50px 5px;
  padding: 20px;
  height: 120px;
}
.yellowLight {
  background-color: $color-light-yellow;
  border-radius: 50px 0px 50px 0px;
  padding: 20px;
  height: 120px;
}
.greenLight {
  background-color: $color-light-green;
  border-radius: 0px 50px 0px 50px;
  padding: 20px;
  height: 120px;
}
div.red:active {
   background-color: #FF5959;
}
div.blue:active {
   background-color: #34AEF7;
}
div.yellow:active {
   background-color: #FFFB8D;
}
div.green:active {
   background-color: #B7F8BB;
}

#wrapper {
  min-height: 100%;
  padding: 50px 0;
  background: linear-gradient(180deg, #E0E2E5, #919397);
}
#redSimon {
    border-radius: 0px 50px 0px 50px;
    box-shadow: 0 5px #555;
    background: #FF5959; //red
    padding: 20px;
    //width: 200px;
    height: 120px;
}

//rcornerst
.red {
    border-radius: 0px 50px 0px 50px;
    box-shadow: 0 5px #555;
    background: #BE0000; //red
    padding: 20px;
    //width: 200px;
    height: 120px;
}
//lcornerst
.blue {
    border-radius: 50px 0px 50px 5px;
    background: #0193E9; //blue
    padding: 20px;
    //width: 200px;
    height: 120px;
}
//rcornersb
.yellow {
    border-radius: 50px 0px 50px 0px;
    background: #FAF200; //yellow
    padding: 20px;
    //width: 200px;
    height: 120px;
}
//lcornersb
.green {
    border-radius: 0px 50px 0px 50px;
    background: #61DB6C; //green
    padding: 20px;
    //width: 200px;
    height: 120px;
}
#start {
  margin:auto;
}
#count {
  margin:auto;
}
#count-text{
  font-size:16px;
  font-weight:bold;
}
#strict {
  font-size:16px;
  font-weight:bold;
}
#restart {
  font-size:16px;
  font-weight:bold;
}
#strictmode {
  padding-top: 5px;
}

// .logo.chrome {
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
//   border-radius: 50%;
//   //border: 5px solid #000;
//   position: relative;
//   overflow: hidden;
//   height: 210px;
//   width: 210px;
//   z-index: 1;
// }
// .logo.chrome .center {
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
//   border-radius: 50%;
//   background: #0d6cac;
//   background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #91c1e7), color-stop(100%, #0d6cac));
//   background: -webkit-linear-gradient(top center, #91c1e7, #0d6cac);
//   background: -moz-linear-gradient(top center, #91c1e7, #0d6cac);
//   background: -o-linear-gradient(top center, #91c1e7, #0d6cac);
//   background: linear-gradient(top center, #91c1e7, #0d6cac);
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   height: 80px;
//   width: 80px;
//   margin-top: -41px;
//   margin-left: -40px;
//   border-bottom: solid 1px #125e90;
//   z-index: 10;
// }
// .logo.chrome .circle {
//   -webkit-border-radius: 50%;
//   -moz-border-radius: 50%;
//   -ms-border-radius: 50%;
//   -o-border-radius: 50%;
//   border-radius: 50%;
//   position: absolute;
//   background: white;
//   top: 50%;
//   left: 50%;
//   height: 94px;
//   width: 94px;
//   margin-top: -48px;
//   margin-left: -47px;
//   z-index: 5;
// }
// .logo.chrome .part-1 {
//   background: #e93c35;
//   position: absolute;
//   top: 0;
//   left: 34px;
//   width: 200px;
//   height: 58px;
// }
// .logo.chrome .part-1:after {
//   -webkit-transform: rotate(60deg);
//   -moz-transform: rotate(60deg);
//   -ms-transform: rotate(60deg);
//   -o-transform: rotate(60deg);
//   transform: rotate(30deg);
//   content: " ";
//   background: #e93c35; //red
//   position: absolute;
//   top: 0;
//   left: -91px;
//   width: 200px;
//   height: 58px;
// }
// .logo.chrome .part-2 {
//   -webkit-transform: rotate(120deg);
//   -moz-transform: rotate(120deg);
//   -ms-transform: rotate(120deg);
//   -o-transform: rotate(120deg);
//   transform: rotate(100deg);
//   background: #fdd901;
//   position: absolute;
//   top: 131px;
//   left: 56px;
//   width: 200px;
//   height: 65px;
// }
// .logo.chrome .part-2:after {
//   -webkit-transform: rotate(60deg);
//   -moz-transform: rotate(60deg);
//   -ms-transform: rotate(60deg);
//   -o-transform: rotate(60deg);
//   transform: rotate(30deg);
//   content: " ";
//   background: #fdd901; //yellow
//   position: absolute;
//   top: 0;
//   left: -91px;
//   width: 200px;
//   height: 58px;
// }
// .logo.chrome .part-3 {
//   -webkit-transform: rotate(-120deg);
//   -moz-transform: rotate(-120deg);
//   -ms-transform: rotate(-120deg);
//   -o-transform: rotate(-120deg);
//   transform: rotate(-120deg);
//   background: #5bc15b;
//   position: absolute;
//   top: 88px;
//   left: -74px;
//   width: 200px;
//   height: 65px;
// }
// .logo.chrome .part-3:after {
//   -webkit-transform: rotate(60deg);
//   -moz-transform: rotate(60deg);
//   -ms-transform: rotate(60deg);
//   -o-transform: rotate(60deg);
//   transform: rotate(60deg);
//   content: " ";
//   background: #5bc15b;
//   position: absolute;
//   top: 0;
//   left: -91px;
//   width: 200px;
//   height: 58px;
// }
// .logo.chrome .part-4 {
//   -webkit-transform: rotate(-120deg);
//   -moz-transform: rotate(-120deg);
//   -ms-transform: rotate(-120deg);
//   -o-transform: rotate(-120deg);
//   transform: rotate(-120deg);
//   background: #193E9b;
//   position: absolute;
//   top: 88px;
//   left: -74px;
//   width: 200px;
//   height: 65px;
// }
// .logo.chrome .part-4:after {
//   -webkit-transform: rotate(60deg);
//   -moz-transform: rotate(60deg);
//   -ms-transform: rotate(60deg);
//   -o-transform: rotate(60deg);
//   transform: rotate(60deg);
//   content: " ";
//   background: #193E9b;
//   position: absolute;
//   top: 0;
//   left: -91px;
//   width: 200px;
//   height: 58px;
// }
